@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: 'Kanit', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* --redColor: #EF4444; */
  --redColor: #fc0946;
  --whiteColor: rgb(241, 245, 247);
}



a {
  font-weight: 500;
  color: #ffff;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #77ff77;
}

a .active {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, var(--redColor) 30%);
  
}


body {
  margin: 0;
  font-size: 18px;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

form>span {
  color: rgb(255, 255, 255);
  font-weight: 500
}

.bg-login {
  background: linear-gradient(90deg, var(--whiteColor) 35%,var(--redColor) 35%,var(--redColor) 65%, var(--whiteColor) 65%);
}
.bg-home {
  background: url(../public/Bg_home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 1200px) {
  .bg-login {
    background: linear-gradient(90deg,var(--whiteColor) 25%,var(--redColor) 25%,var(--redColor)75%, var(--whiteColor) 75%);
  }
}
@media only screen and (max-width: 768px) {
  .bg-login {
    background: linear-gradient(90deg, var(--whiteColor) 15%, var(--redColor) 15%, var(--redColor)  85%,var(--whiteColor) 85%);
  }
}